@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Nanum Brush Script', cursive;
}

header {
    height: 150px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teclas button{
    margin: 2px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

#palavra {
    font-size: 45px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.letras {
    border-bottom: 1px solid white;
    margin-right: 5px;
    margin-left: 5px;
}

#categoria {
    font-size: 30px;
}

#forca-img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
#stick {
    width: 70px;
    height: 70px;
}

#teclado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forca {
    background-image: url(../imgs/erros/morte.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}

#erros {
    margin-top: 20px;
    font-size: 30px;
}
