@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

.container {
    min-height: 100%;
}

.header {
    background-color: rgb(35, 35, 35);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.header img {
    width: 8%;
}

.bttn a {
    text-decoration: none;
}

.cred {
    font-family: 'Century Gothic', Courier, monospace;
    width: 100%;
    line-height: 100px;
    position: fixed;
    bottom: 0;
}

/* ------ IDs ------ */
#forca {
    margin: 50px;
    width: 15%;
}

#inicio {
    background-color: rgb(35, 35, 35);
    margin: 0px auto;
    text-decoration: none;
    font-size: 15px;
    color: white;
    width: 200px;
    border-radius: 35px;
    padding: 5px;
}

#inicio:hover {
    box-shadow: 5px 8px 8px rgb(95, 95, 95);
}


/*  CSS aparelhos menores  */

@media (max-width: 480px) {

    .header {
        font-size: 20px;
        height: 150px;
    }

    .header img {
        width: 15%
    }

    .cred {
        font-size: 10px;
    }

    /* ------ IDs ------ */
    #forca {
        margin: 50px;
        width: 45%;
    }

    #inicio {
        width: 150px; 
        font-size: 10px;
    }
}

@media (max-width: 360px) {

    .cred {
        font-size: 8px;
    }
}
